body {
	text-align: center;
	font-family: helvetica;
}

img {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border: 3px solid black;
	
}
ol {
	list-style-position: inside;
	
}
#comedy_style {
	color: red;
}

.VMN {
	color: blue;
}

nav {
	background-color: gray;
}

.nav-items {
	display: inline;
	margin: 10px;
}

body {
	background-image: url(http://www.themesltd.com/backgrounds/random/blue_aztec_pattern.png);

}

#about {    width: 49%;
    display: inline-block;
   	border: 1px solid black;
}

#music {
	    width: 49%;
    display: inline-block;
    border: 1px solid black;
} 
